<html class='bg-gray-950'>
  <head>
    <meta charset='utf-8' />
    <title>Monitor</title>
    <link href='/css/tailwind.css' rel='stylesheet' />
  </head>
  <body>
    <div class='h-screen w-screen bg-gray-950 flex items-center justify-center text-white'>
      Hello World
    </div>
  </body>
</html>